
<div *ngIf="inHome">    
<div class="firstslide">
    <h2>
        Who are we?
    </h2>
    <div class="content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea enim a, sapiente non dignissimos in velit facilis, rem quis ab, quasi expedita distinctio veniam alias. Assumenda amet labore omnis praesentium?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus incidunt minima rerum sed doloremque? Reprehenderit dolores, sit rerum exercitationem iusto earum placeat! Nihil animi minus accusantium, soluta deserunt velit cumque!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur nisi expedita officia nam, accusamus mollitia cupiditate ex nihil dolorum, iusto fugiat soluta eum quod assumenda molestiae aliquam modi quidem dolorem.
    </div>
</div>

<div class="firstslide">
    <h2>
        What we do?
    </h2>
    <div class="content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea enim a, sapiente non dignissimos in velit facilis, rem quis ab, quasi expedita distinctio veniam alias. Assumenda amet labore omnis praesentium?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus incidunt minima rerum sed doloremque? Reprehenderit dolores, sit rerum exercitationem iusto earum placeat! Nihil animi minus accusantium, soluta deserunt velit cumque!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur nisi expedita officia nam, accusamus mollitia cupiditate ex nihil dolorum, iusto fugiat soluta eum quod assumenda molestiae aliquam modi quidem dolorem.
    </div>
</div>

<div class="firstslide">
    <h2>
        How can you be a part of this?
    </h2>
    <div class="content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea enim a, sapiente non dignissimos in velit facilis, rem quis ab, quasi expedita distinctio veniam alias. Assumenda amet labore omnis praesentium?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus incidunt minima rerum sed doloremque? Reprehenderit dolores, sit rerum exercitationem iusto earum placeat! Nihil animi minus accusantium, soluta deserunt velit cumque!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur nisi expedita officia nam, accusamus mollitia cupiditate ex nihil dolorum, iusto fugiat soluta eum quod assumenda molestiae aliquam modi quidem dolorem.
    </div>
</div>


</div>